<section id="recipe-view" class="mainbar" data-ng-controller="recipedetail as vm">
    <section class="matter">
        <div class="container">
                <button class="btn btn-info btn-form-md"
                    data-ng-click="vm.goBack()">
                    <i class="fa fa-hand-o-left"></i>Back</button>
                <button class="btn btn-info btn-form-md"
                    data-ng-click="vm.cancel()" data-ng-disabled="!vm.canSave">
                    <i class="fa fa-undo"></i>Cancel</button>
                <button class="btn btn-info btn-form-md"
                    data-ng-click="vm.save()" data-ng-disabled="!vm.canSave">
                    <i class="fa fa-save"></i>Save</button>
                <button class="btn btn-danger btn-form-md" data-ng-click="vm.deleteRecipe()">
                    <i class="fa fa-trash-o"></i>Delete</button>

                <!--Need ng-hide for show/hide animations-->
                <span data-ng-show="vm.hasChanges" class="dissolve-animation ng-hide flag-haschanges">
                    <i class="fa fa-asterisk fa fa-asterisk-large" rel="tooltip" title="You have changes"></i>
                </span>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header title="Edit {{vm.recipe.name || 'New Recipe'}}"></div>
                <form class="widget-content user">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div>
                            <input class="form-control"
                                   data-ng-model="vm.recipe.name"
                                   data-z-validate
                                   placeholder="Recipe name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <div>
                            <textarea class="form-control"
                                      data-ng-model="vm.recipe.description"
                                      data-z-validate
                                      placeholder="Enter description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Image</label>
                        <div  style="height:100px">
                            <img data-mp-img-item="{{vm.recipe.imageSource }}"
                                 data-ng-model="vm.recipe.imageSource"
                                 class="img-thumbnail" 
                                 data-ng-click="vm.openImageChooserDialog(vm.recipe.name)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ingredients</label>
                        <!--
                            
                        <div>
                            <ul style="padding:5" data-ng-repeat="ing in vm.ingredientList">
                                <li>{{ ing.amount }} {{ ing.unit }} - {{ ing.ingredient.name }}</li>
                            </ul>
                        </div>
                        -->
                        <div>
                            <table class="table grid" id="grid">
                                <thead>
                                    <tr>
                                        <th>Ingredient</th>
                                        <th>Amount</th>
                                        <th>Unit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- essentially a foreach loop -->
                                    <tr data-ng-repeat="ing in vm.ingredientList">
                                        <td>
                                            <select class="form-control"
                                                    data-ng-model="ing.ingredient"
                                                    data-ng-options="ingredient.name for ingredient in vm.ingredients"
                                                    data-z-validate></select>
                                        </td>
                                        <td>
                                            <input type="text" data-ng-model="ing.amount" />
                                        </td>
                                        <td>
                                            <select class="form-control"
                                                    data-ng-model="ing.unit"
                                                    data-ng-options="unit.name for unit in vm.units"
                                                    data-z-validate></select>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" data-ng-click="vm.ingredientList.splice($index, 1)">
                                                <span class="glyphicon glyphicon-remove-sign"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <button id="addIngredient" class="btn btn-success pull-left" data-ng-click="vm.ingredientList.push(vm.createTempRecipeIngredient())">
                                Add Ingredient
                            </button>
                        </div>
                        <!-- 
                        <div>
                            <input type="text" data-ng-model="ingredientName" placeholder="Enter the Ingredient" />
                            <p><button data-ng-click="vm.addIngredientToList()">Add</button></p>
                        </div>
                        -->
                    </div>

                    <br />
                    <br />
                    <div class="form-group">
                        <label class="control-label">Directions</label>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>